* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body {
  margin: 0px;
  padding: 0px;
}
input {
  display: block;
}
canvas {
  /* border: 1px solid black;
  width: 200px;
  height: 200px;
  cursor: pointer; */
}
.container {
  /* width: 100%;
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  font-size: 0;
  position: relative; */
}

.pic {
  position: absolute;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  width: calc(100% / var(--countX));
  height: calc(100% / var(--countY));
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}
/* .pic.pic-1 {
  background-position: 0% 0%;
}
.pic.pic-2 {
  background-position: 100% 0%;
}
.pic.pic-3 {
  background-position: 0% 100%;
}
.pic.pic-4 {
  background-position: 100% 100%;
} */
